*/node_modules
*/package-lock.json

*/*/node_modules
*/*/package-lock.json

*/pics

*.git

test

client/public/textures
client/public/assets
client/public/materials
client/dist/*

server/server_build
server/server_bundle
server/.github

python_scripts/setup.py

cpp_programs/stb*

build

blender
cpp_programs/main_parallel.cpp
cpp_programs/main

.vscode

